.generalStatusItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: 1px solid #000;
  background-color: #599ad7;
  padding: 5px;
}

.generalStatusItem .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.generalStatusItem .light {
  height: 19px;
  width: 19px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #000;
}

.generalStatusItem .top .engineNameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #d9d9d9;
 width: 70%;
}

.generalStatusItem .top .statusLayout {
  display: flex;
  gap: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.generalStatusItem .top .statusLayout .statusContainer {
  width: 125px;
  padding: 5px;
  background-color: #161616;
}

.urgentStatus {
  color: red;
}
.unNormalStatus {
  color: #854839;
}
.normalStatus {
  color: limegreen;
}

.urgentLight {
  background-color: red;
}
.unNormalLight {
  background-color: #501f14;
}
.normalLight {
  background-color: limegreen;
}
